* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input[type='radio'] {
  opacity: 0;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.slider-container {
  width: 100%;
  overflow: hidden;
}

.slider-row {
  width: 400%;
  display: flex;
}

.mem {
  width: 25%;
  transition: all 0.5s ease;
}

.mem img {
  width: 100%;
}

.control-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 2rem;
}

.description-container {
  width: 70%;
  overflow: hidden;
}

.description-row {
  width: 400%;
  display: flex;
}

.description {
  width: 25%;
  font-size: 2rem;
  transition: all 0.5s ease;
}

.controls {
  width: 30%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}

.control {
  width: 1rem;
  height: 1rem;
  background-color: #000;
}

.control:hover {
  background-color: #445464;
}

#control-1:checked ~ .slider-row .mem-1 {
  margin-left: 0;
}

#control-1:checked ~ .control-container .description-container .description-first {
  margin-left: 0;
}

#control-2:checked ~ .slider-row .mem-1 {
  margin-left: -25%;
}

#control-2:checked ~ .control-container .description-container .description-first {
  margin-left: -25%;
}

#control-3:checked ~ .slider-row .mem-1 {
  margin-left: -50%;
}

#control-3:checked ~ .control-container .description-container .description-first {
  margin-left: -50%;
}

#control-4:checked ~ .slider-row .mem-1 {
  margin-left: -75%;
}

#control-4:checked ~ .control-container .description-container .description-first {
  margin-left: -75%;
}